$base-font-size: 1rem;
$base-line-height: 1.5;

@function toRem($unit) {
    @return ($unit / $base-font-size) * 1rem;
}

$font-xl: toRem(80px);
$font-l: toRem(64px);
$font-m: toRem(24px);
$font-s: toRem(20px);

body,
html {
    font-size: $base-font-size;
    $base-line-height: 1.5;
    // font-style:italic;
    font-family: Roboto,Raleway, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
}
.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
.fontRaleway{
    font-family: 'Raleway', sans-serif;
}

.h1 {
    font-size: 48px;
    @include media-breakpoint-up(md) {
        font-size: 48px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 64px;
    }
}
.h2 {
    font-size: 24px;
    @include media-breakpoint-up(md) {
        font-size: 32px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 48px;
    }
}

.h3 {
    font-size: 32px;
    @include media-breakpoint-up(xl) {
        font-size: 72px;
    }
}
.h4 {
    font-size: 28px;
    @include media-breakpoint-up(xl) {
        font-size: 48px;
    }
}
.h5 {
    font-size: 20px;
    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }
}
