.l- {
    &faqHero {
        height: 143px;
        background-image: url('../images/qa.png');
        @include media-breakpoint-up(md) {
            padding-top: 237px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 214px;
        }
        &__img {
            width: 2rem;
        }
    }
    &question {
        .j--questionBtn {
            .l-question__btnImg--animation {
                transform: rotate(0);
                transition: 1s ease-in-out;
            }
            &.active {
                .l-question__btnImg--animation {
                    transform: rotate(180deg);
                }
            }
        }

        &__btn.collapsed {
            // 收起collapse狀態 class .collapsed
            .l-question__btnImg--animation {
                transform: rotate(0);
            }
        }
        // 展開collapse狀態
        &__btnImg--animation {
            transform: rotate(180deg);
            transition: 1s ease-in-out;
        }
    }
}
