.l- {
    &hero {
        height: 723px;
        &__bg {
            background-image: url('../images/index-1.jpg');
            top: -77px;
            bottom: 0;
            z-index: -1;
        }
    }
    &intro-designer {
        height: 400px;
        background-image: url('../images/index-5.jpg');
    }
    &product {
        &__product1 {
            background-image: url('../images/img-1.jpg');
        }
        &__product2 {
            background-image: url('../images/img-2.jpg');
        }
        &__product3 {
            background-image: url('../images/img-3.jpg');
        }
    }
}
