<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body>
        <div class="l-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav
                            class="navbar navbar-expand-lg navbar-light justify-content-between px-0"
                        >
                            <a class="navbar-brand fontRaleway" href="#">Craftsman</a>
                            <div
                                class="collapse navbar-collapse justify-content-end"
                                id="navbarNav"
                            >
                                <ul class="navbar-nav ">
                                    <li class="nav-item">
                                        <a class="nav-link text-white mr-6" href="#">
                                            Product
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white mr-6" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white mr-6" href="#">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">
                                            <span class="material-icons">
                                                shopping_cart
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <%- contents %>
        <div class="l-subscribe bg-cover">
            <div class="container h-100">
                <div class="row no-gutters align-items-center h-100">
                    <div class="col-5">
                        <div>
                            <h2 class="h2 text-white mb-6" data-aos="fade-right" data-aos-delay="100">Subscribe for news and special offers!</h2>
                            <div class="input-group input-group-lg mb-4" data-aos="fade-right" data-aos-delay="200">
                                <input
                                    type="text"
                                    class="form-control bg-transparent"
                                    placeholder="Your email address"
                                    aria-label="Your email address"
                                    aria-describedby="basic-addon2"
                                />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="l-footer bg-secondary py-4">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col">
                        <nav
                            class="navbar navbar-expand-lg navbar-light justify-content-between px-0"
                        >
                            <div class="d-flex align-items-center">
                                <a class="navbar-brand fontRaleway text-white" href="#">Craftsman</a>
                                <p class="my-0 text-white">© 2020. All Rights Reserved.</p>
                            </div>
                            <div
                                class="collapse navbar-collapse justify-content-end"
                                id="navbarNav"
                            >
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-white mr-6" href="#">
                                           <small>Purchase Policy</small> 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link text-white mr-6" href="#">
                                        <small>Privacy Policy</small> 
                                     </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link text-white" href="#">
                                        <small>Terms & Conditions</small> 
                                     </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="./assets/js/all.js"></script>
    </body>
</html>
